<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
	<title>patients</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div class="sidebar-sticky" layout:fragment="sidebar">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="/patient"> <span
					data-feather="home"></span> Patient <span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/study"> Procedure
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/doctor"> Doctor
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/room"> Room
			</a></li>
			
		</ul>
	</div>
	<div layout:fragment="content">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Patient(s)</h1>
        </div>
		<div class="row">
        <div class="col-md-12 order-md-1">
          <table class="table">
          	<tr>
          		<th>ID</th>
          		<th>Name</th>
          		<th>Sex</th>
          		<th>Date of birth</th>
          		<th>Room</th>
          		<th>Doctor in charge</th>
          		<th>Procedures</th>
          		<th>Procedure</th>
          		<th>Update</th>
          		<th>Delete</th>
          	</tr>
          	<tr th:each="patient : ${patients}">
          		<td th:text="${patient.id}">
          		</td>
          		<td th:text="${patient.name}">
          		</td>
          		<td th:text="${patient.patientSex}">
          		</td>
          		<td th:text="${patient.dob}">
          		</td>
          		<td th:text="${'No.'+patient.room.id+'('+patient.room.name+')'}">
          		</td>
          		<td th:text="${patient.doctor.name}">
          		</td>
          		<td>
          			<a th:href="@{/study/patient/}+${patient.id}" th:text="${patient.studies.size()+'(view details)'}" >  </a>
          		</td>
          		<td> 
           			<a  class="btn btn-primary  btn-block"  th:href="@{/study/add/}+${patient.id}">Schedule </a>
          		</td>
          		<td>
          			<a  class="btn btn-primary  btn-block"  th:href="@{/patient/update/}+${patient.id}">Update</a>
          		</td>
          		<td>
          			<a  class="btn btn-primary  btn-block"  th:href="@{/patient/delete/}+${patient.id}">Delete</a>
          		</td>
          	</tr>
          </table>
           <a  class="btn btn-primary btn-lg btn-block"  href="/patient/add">Add patient</a>
          
        </div>
      </div>

	</div>
</body>
</html>