<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
	<title>Studies</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div class="sidebar-sticky" layout:fragment="sidebar">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="/patient"> <span
					data-feather="home"></span> Patient <span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/study"> Study
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/doctor"> Doctor
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/room"> Room
			</a></li>
			
		</ul>
	</div>
	<div layout:fragment="content">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Studies</h1>
        </div>
		<div class="row">
        <div class="col-md-12 order-md-1">
        	 <span><b>Patient ID: </b></span><span th:text="${patient.id}"></span>,
        	  <span><b>Patient Name: </b></span><span th:text="${patient.name}"></span>, 
        	  <span><b>Sex: </b></span><span th:text="${patient.patientSex}"></span>, 
        	  <span><b>Room: </b></span><span th:text="${'No.'+patient.room.id+'('+patient.room.name+')'}"></span>, 
        	  <span><b>Dcotor: </b></span><span th:text="${patient.doctor.name}"></span>
        	  <br/>
        	  <br/>
          <table class="table">
          	<tr>
          		<th>ID</th>
          		<th>Patient</th>
          		<th>Description</th>
          		<th>Status</th>
          		<th>Planned start time</th>
          		<th>Estimated end time</th>
          		<th>Update</th>
          		<th>Delete</th>
          	</tr>
          	<tr th:each="study : ${studies}">
          		<td th:text="${study.id}">
          		</td>
          		<td th:text="${study.patient.name}">
          		</td>
          		<td th:text="${study.description}">
          		</td>
          		<td th:text="${study.status}">
          		</td>
          		<td th:text="${study.plannedStartTime}">
          		</td>
          		<td th:text="${study.estimatedEndTime}">
          		</td>
          		<td>
          			<a  class="btn btn-primary  btn-block"  th:href="@{/study/update/}+${study.id}">Update</a>
          		</td>
          		<td>
          			<a  class="btn btn-primary  btn-block"  th:href="@{/study/add/}+${study.id}">Delete</a>
          		</td>
          	</tr>
          </table>  
        </div>
      </div>

	</div>
</body>
</html>