<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
	<title>add procedure</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div class="sidebar-sticky" layout:fragment="sidebar">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="/patient"> <span
					data-feather="home"></span> Patient <span class="sr-only">(current)</span>
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/study"> Procedure
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/doctor"> Doctor
			</a></li>
			
			<li class="nav-item"><a class="nav-link active" href="/room"> Room
			</a></li>
			
		</ul>
	</div>
	<div layout:fragment="content">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2"><span th:text="${operation=='C'?'Create':'Update'}"></span> procedure for <small th:text="${patient.name+'(ID:'+patient.id+')'}"></small></h1>
        </div>
		<div class="row">
        <div class="col-md-8 order-md-1">
          <form action="#" th:action="${operation == 'C'}?@{'/study/add/action/'}+${patient.id}:@{'/study/update/action/'}+${patient.id}" th:object="${studyForm}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3">
              <label for="description">Description <span class="text-muted"></span></label>
              <textarea  th:field="*{description}" class="form-control" id="description" rows="3" required="required"></textarea>
            </div>
            <div class="mb-3">
              <label for="address">Status</label>
              	<select th:field="*{status}" class="form-control">
  					<option th:each="status : ${studyStatus}" 
          				th:value="${status}" 
          				th:text="${status}"></option>
				</select>
            </div>
            
            <div class="mb-3">
    				<label for="plannedStartTime">Planned start time <span class="text-muted"></span></label>
              	<input th:field="*{plannedStartTime}"  type="text" class="form-control form_datetime" id="plannedStartTime" data-date-format="yyyy-mm-dd hh:ii" placeholder="YYYY-MM-DD HH:mm" required> 
              	<script type="text/javascript">
    					$("#plannedStartTime").datetimepicker();
				</script>  
  			</div>
  			
  			<div class="mb-3">
    				<label for="estimatedEndTime">Estimated end time <span class="text-muted"></span></label>
              	<input th:field="*{estimatedEndTime}"  type="text" class="form-control form_datetime" id="estimatedEndTime" data-date-format="yyyy-mm-dd hh:ii"  placeholder="YYYY-MM-DD HH:mm">
              	<script type="text/javascript">
    					$("#estimatedEndTime").datetimepicker();
				</script>  
  			</div>
  			<span th:each="errMesg : ${validationMesg}">
        	  		<span style="color:red"  th:text="${errMesg}"></span><br/>
        	  	</span>
        	  	<br/>
           	<button  class="btn btn-primary btn-lg btn-block" type="submit" th:text="${operation=='C'?'Create study':'Update study'}" >Create study</button>
          </form>
        </div>
      </div>
	</div>
</body>
</html>